<div class="footer">
  <div class="footer__logo">
      <a routerLink="/" class="logo__link">Holi<span class="logo__link--orange">daze</span></a>
  </div>
  <div class="footer__links">
      <a href="#" class="fa fa-facebook footer__link"></a>
      <a href="#" class="fa fa-twitter footer__link"></a>
      <a href="#" class="fa fa-google footer__link"></a>
      <a href="#" class="fa fa-youtube footer__link"></a>
      <a href="#" class="fa fa-instagram footer__link"></a>
  </div>
  <div class="footer__copyright">
      <p>Copyright &#169; 2019</p>
  </div>
</div>


