

$logo-font: 'Baloo Bhai', cursive;
$primary-font:  'Montserrat', sans-serif;

$black-color: #000000;
$white-color: #FFFFFF;
$primary-color: #4671b3;
$secondary-color: #7db1ff;
$orange-color: #fb9046;
$shadow-1: 0px 2px 6px black;
