@import "../../../scss/mixins";
@import "../../../scss/variables";

.login{
    @include gradient(10deg, $primary-color, $secondary-color);
    color:white;
    border-radius: 4px;
    max-width: 500px;
    margin: 50px auto;
    margin-bottom: 300px;
  
    @include shadow($shadow-1);
    .login__form{
        padding: 20px 20px 60px 20px;
        border-radius: 4px;
        @include tablet-size{
            padding: 40px;
        }
        .login__title{
            background: none;
            padding-left: 0;
            
        }
        .login__label{
            margin: 20px 0;
            font-weight: bold;
            @include tablet-size{
                margin: 20px 0;
            }
            .login__input{
                border: 1px solid $primary-color;
                padding: 10px;
                border-radius: 4px;
            }
            .login__errors{
                display: block;
                text-align: center;
                font-weight: bold;
                padding: 10px;
                background-color: $orange-color;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
                margin: 0 10px;
            }
        }
        .login__submit{
            background-color:$orange-color;
            border:none;
            color:white;
            font-family: $logo-font;
            padding: 6px;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            width: 100%;
            margin-top: 20px;
            &:hover{
                color:$orange-color;
                background-color:white;
            }
        }
    }
}